<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">   
    <link href="{{host}}/css/chat.css" rel="stylesheet">
    <script type="text/javascript" src="{{host}}/js/chat.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>chat</title>
</head>
<body>
    <section id="chat">
        <article id="people-online"></article>
        <article id="chat-box">
            <div id="messages" class="messages">
                <div id="input-box">
                    <input placeholder="écrire un message ..." id="input">
                </div>
                <div id="send-btn">
                    Envoyer
                </div>
            </div>
        </article>
    </section>
    <p id="host" style="display: none;">{{host}}</p>
</body>
</html>