<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">   
    <link href="{{host}}/css/config.css" rel="stylesheet">
    <script type="text/javascript" src="{{host}}/js/config.js" defer></script>
    <title>config</title>
</head>
<body>
    <section id="config">
        <article id="config-form">
            <input id="input" placeholder="Choisir un nom d'utilisateur">
            <div id="form-submit">Rejoindre le chat</div>
        </article>
    </section>
    <p id="host" style="display: none;">{{host}}</p>
</body>
</html>